.buttons_primary {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.2rem;
}

.btn {
  background-color: rgb(67, 16, 179);
  color: rgb(172, 166, 166);
}
