.bounce {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  span{
    border-bottom: 5px solid rgb(62, 60, 60);
    margin:1.5rem;
    margin-top:3rem;
    padding-bottom:0.3rem;

  }

  span:hover {
    border-bottom: 5px solid rgb(255, 0, 0);
    transition: 0.4s ease-in;;

  }
}


